{% extends 'base.html' %}

{% block content %}

<h1>Add a song to {{ playlist.name }}</h1>

<div class="container">
    <form id="add-song-form" method="POST">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->

        {% for field in form
        if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>

        {% endfor %}

        <button class="btn btn-primary" type="submit">Add to Playlist</button>
    </form><br>
    <a class="btn btn-secondary" href="/platlists/{{playlist.id}}">Return to Playlist</a>
</div>

{% endblock %}